@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@using BDS_ML.Models.Data
@using BDS_ML.Models.ModelDB
@using BDS_ML.Models.Common
@using Microsoft.EntityFrameworkCore;
@model Home_Index

@{
    ViewData["Title"] = "Trang Chủ | Bất Động Sản REAL HOUSE";
    BDT_MLDBContext db = new BDT_MLDBContext();
}

<style>
    .post.post-widget .post-img {
         width: auto; 
        float: left;
        margin-right: 15px;
    }

    .post .post-img > img {
        width: 100%;
        height: 250px;
    }

    .post .post-title {
        font-size: 15px;
        margin-bottom: 0px;
    }
        
</style>

<div class="section section-grey">
    <div class="container">
        <div class="text-center">
            <h2 class="display-4">BẤT ĐỘNG SẢN <span style="color:orangered">HOT</span> NHẤT!</h2>
            <p>Bất động sản được đăng tải bởi các khách hàng <span style="color:orangered">VIP</span></p>
        </div>

        <div class="row">
            @foreach (var post in Model.lst3HotPosts)
            {
                var _Images = post.Post_Image.ToList();
                var image = "";
                foreach (var i in _Images)
                {
                    image = i.url;
                    break;
                }
                var author = "";
                if (db.Customer.FirstOrDefault(c => c.Account_ID == post.ID_Account) == null)
                {
                    author = db.Admin.First(c => c.Account_ID == post.ID_Account).FullName;
                }
                else
                {
                    author = db.Customer.First(c => c.Account_ID == post.ID_Account).FirstName + ' ' + db.Customer.First(c => c.Account_ID == post.ID_Account).LastName;
                }

                <div class="col-lg-4 col-md-6">
                    <!-- hot post -->
                    <div class="feature-item">
                        <a asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">
                            <div class="feature-pic set-bg" style="background-image:url(@(Constants.POST_IMG_URL + image))">
                                @if (post.PostType == 1)
                                {
                                    <div class="sale-notic">Cần bán</div>
                                }
                                @if (post.PostType == 2)
                                {
                                    <div class="sale-notic">Cần Cho Thuê</div>
                                }
                                @if (post.PostType == 3)
                                {
                                    <div class="rent-notic">Cần Mua</div>
                                }
                                @if (post.PostType == 4)
                                {
                                    <div class="rent-notic">Cần Thuê</div>
                                }
                            </div>
                        </a>
                        <div class="feature-text">
                            <div class="text-center feature-title">
                                <h5>@post.Tittle</h5>
                                <p><i class="fa fa-map-marker"></i> @post.Post_Location.SingleOrDefault().Quan_HuyenNavigation._name, @post.Post_Location.SingleOrDefault().Tinh_TPNavigation._name</p>
                            </div>
                            <div class="room-info-warp">
                                <div class="room-info">
                                    <div class="rf-left">
                                        <p><i class="fa fa-th-large"></i>@string.Format("{0:0.## m²}", post.Size)</p>
                                        <p><i class="fa fa-building-o"></i>@post.Post_Detail.SingleOrDefault().Floor lầu</p>
                                        <p><i class="fa fa-bed"></i>@post.Post_Detail.SingleOrDefault().Bedroom phòng ngủ</p>
                                        <p><i class="fa fa-bath"></i>@post.Post_Detail.FirstOrDefault().Bathroom phòng tắm</p>
                                    </div>
                                    <div class="rf-right">
                                        @if (post.Post_Detail.SingleOrDefault().NearHospital == true)
                                        {
                                            <p><i class="fa fa-hospital-o"></i>gần Bệnh Viện</p>
                                        }
                                        else
                                        {
                                            <p class="notavailable"><i class="fa fa-hospital-o"></i>gần Bệnh Viện</p>
                                        }

                                        @if (post.Post_Detail.SingleOrDefault().NearMarket == true)
                                        {
                                            <p><i class="fa fa-shopping-cart"></i>gần Chợ</p>
                                        }
                                        else
                                        {
                                            <p class="notavailable"><i class="fa fa-shopping-cart"></i>gần Chợ</p>
                                        }

                                        @if (post.Post_Detail.SingleOrDefault().NearSchool == true)
                                        {
                                            <p><i class="fa fa-graduation-cap"></i>gần Trường Học</p>

                                        }
                                        else
                                        {
                                            <p class="notavailable"><i class="fa fa-graduation-cap"></i>gần Trường Học</p>
                                        }

                                        @if (post.Post_Detail.SingleOrDefault().NearAirport == true)
                                        {
                                            <p><i class="fa fa-plane"></i>gần Sân Bay</p>

                                        }
                                        else
                                        {
                                            <p class="notavailable"><i class="fa fa-plane"></i>gần Sân Bay</p>
                                        }
                                    </div>
                                </div>
                                <div class="room-info">
                                    <div class="rf-left">
                                        <p><i class="fa fa-user"></i>@author</p>
                                    </div>
                                    <div class="rf-right">
                                        <p><i class="fa fa-clock-o"></i>@Functions.getTime(post.PostTime)</p>
                                    </div>
                                </div>
                            </div>
                            @if (post.PostType == 1)
                            {
                                if (post.Price >= 1000)
                                {
                                    <a class="room-price" asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Tỷ VND}", post.Price / 1000)</a>
                                }
                                else
                                {
                                    <a class="room-price" asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">@string.Format("{0:0.##### Triệu VND}", post.Price)</a>
                                }
                            }
                            else
                            {
                                if (post.Price >= 1000)
                                {
                                    <a class="room-price" asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Tỷ VND}", post.Price / 1000) / tháng</a>
                                }
                                else
                                {
                                    <a class="room-price" asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Triệu VND}", post.Price) / tháng</a>
                                }

                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="section-title">
                        <h2>BÀI ĐĂNG GẦN ĐÂY</h2>
                    </div>
                    @foreach (var post in Model.lst6PopularPosts)
                    {
                        var _Images = post.Post_Image.ToList();
                        var image = "";
                        foreach (var i in _Images)
                        {
                            image = i.url;
                            break;
                        }
                        var author = "";
                        if (db.Customer.FirstOrDefault(c => c.Account_ID == post.ID_Account) == null)
                        {
                            author = db.Admin.First(c => c.Account_ID == post.ID_Account).FullName;
                        }
                        else
                        {
                            author = db.Customer.First(c => c.Account_ID == post.ID_Account).FirstName + ' ' + db.Customer.First(c => c.Account_ID == post.ID_Account).LastName;
                        }
                        <!-- post -->
                        <div class="col-md-6">
                            <div class="feature-item">
                                <div class="post">
                                    <a class="post-img" asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail"><img src="@(Constants.POST_IMG_URL + image)" alt="post-img"></a>
                                    <div class="propertie-info text-white">
                                        <div class="room-info-warp">
                                            <div class="room-info">
                                                <div class="rf-left">
                                                    <p><i class="fa fa-th-large"></i>@string.Format("{0:0.## m²}", post.Size)</p>
                                                    <p><i class="fa fa-building-o"></i>@post.Post_Detail.SingleOrDefault().Floor lầu</p>
                                                    <p><i class="fa fa-bed"></i>@post.Post_Detail.SingleOrDefault().Bedroom phòng ngủ</p>
                                                    <p><i class="fa fa-bath"></i>@post.Post_Detail.SingleOrDefault().Bathroom phòng tắm</p>
                                                </div>
                                                <div class="rf-right">
                                                    @if (post.Post_Detail.SingleOrDefault().NearHospital == true)
                                                    {
                                                        <p><i class="fa fa-hospital-o"></i>gần Bệnh Viện</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="notavailable"><i class="fa fa-hospital-o"></i>gần Bệnh Viện</p>
                                                    }

                                                    @if (post.Post_Detail.SingleOrDefault().NearMarket == true)
                                                    {
                                                        <p><i class="fa fa-shopping-cart"></i>gần Chợ</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="notavailable"><i class="fa fa-shopping-cart"></i>gần Chợ</p>
                                                    }

                                                    @if (post.Post_Detail.SingleOrDefault().NearSchool == true)
                                                    {
                                                        <p><i class="fa fa-graduation-cap"></i>gần Trường Học</p>

                                                    }
                                                    else
                                                    {
                                                        <p class="notavailable"><i class="fa fa-graduation-cap"></i>gần Trường Học</p>
                                                    }

                                                    @if (post.Post_Detail.SingleOrDefault().NearAirport == true)
                                                    {
                                                        <p><i class="fa fa-plane"></i>gần Sân Bay</p>

                                                    }
                                                    else
                                                    {
                                                        <p class="notavailable"><i class="fa fa-plane"></i>gần Sân Bay</p>
                                                    }
                                                </div>
                                            </div>
                                            <div class="room-info text-center">
                                                <p><i class="fa fa-map-marker"></i> @post.Post_Location.SingleOrDefault().Quan_HuyenNavigation._name, @post.Post_Location.SingleOrDefault().Tinh_TPNavigation._name</p>
                                                @if (post.PostType == 1)
                                                {
                                                    if (post.Price >= 1000)
                                                    {
                                                        <a class="room-price" asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Tỷ VND}", post.Price / 1000)</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="room-price" asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Triệu VND}", post.Price)</a>
                                                    }
                                                }
                                                else
                                                {
                                                    if (post.Price >= 1000)
                                                    {
                                                        <a class="room-price" asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Tỷ VND}", post.Price / 1000) post.Price / 1000 / tháng</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="room-price" asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Triệu VND}", post.Price) / tháng</a>
                                                    }

                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-body">
                                        <div class="post-meta">
                                            @if (post.PostType == 1)
                                            {
                                                <a class="post-category cat-2" href="#">Cần Bán</a>
                                            }
                                            @if (post.PostType == 2)
                                            {
                                                <a class="post-category cat-2" href="#">Cần Cho Thuê</a>
                                            }
                                            @if (post.PostType == 3)
                                            {
                                                <a class="post-category cat-1" href="#">Cần Mua</a>
                                            }
                                            @if (post.PostType == 4)
                                            {
                                                <a class="post-category cat-1" href="#">Cần Thuê</a>
                                            }
                                            <span class="post-date"><i class="fa fa-clock-o"></i> @Functions.getTime(post.PostTime) | <i class="fa fa-user"></i> @author </span>
                                        </div>
                                        <h3 class="post-title"><a asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">@post.Tittle</a></h3>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <!-- ad -->
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="~/webmag/img/sample.jpg" alt="sample">
                    </a>
                </div>
                <!-- /ad -->
                <!-- catagories -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Danh Mục</h2>
                    </div>
                    <div class="category-widget">
                        <ul>
                            <li><a class="cat-1" asp-action="SearchByType" asp-controller="Post" asp-route-id="2">Cần Mua<span>@ViewData["canmua"]</span></a></li>
                            <li><a class="cat-2" asp-action="SearchByType" asp-controller="Post" asp-route-id="0">Cần Bán<span>@ViewData["canban"]</span></a></li>
                            <li><a class="cat-1" asp-action="SearchByType" asp-controller="Post" asp-route-id="3">Cần Thuê<span>@ViewData["canthue"]</span></a></li>
                            <li><a class="cat-2" asp-action="SearchByType" asp-controller="Post" asp-route-id="1">Cần Cho Thuê<span>@ViewData["canchothue"]</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /catagories -->
                <!-- tags -->
                <div class="aside-widget">
                    <div class="tags-widget">
                        <ul>
                            <li><a href="#">Quận 1</a></li>
                            <li><a href="#">Bến Nghé</a></li>
                            <li><a href="#">Landmark</a></li>
                            <li><a href="#">Vinhomes</a></li>
                            <li><a href="#">Khu vực Đà Nẵng</a></li>
                            <li><a href="#">Nha Trang</a></li>
                            <li><a href="#">Quận 10</a></li>
                            <li><a href="#">Miền Bắc</a></li>
                            <li><a href="#">Miền Trung</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /tags -->
                <!-- favorite post-->
                <div class="aside-widget">
                    <div class="section-title text-right">
                        <h2>Bài viết Yêu Thích <i class="fa fa-heart-o"></i></h2>
                        <p>Bài viết được bạn yêu thích</p>
                    </div>
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            if (ViewData["favoritepost"] != null && (ViewData["favoritepost"] as IEnumerable<Post_Favorite>).Count()!=0)
                            {
                                foreach (var item in ViewData["favoritepost"] as IEnumerable<Post_Favorite>)
                                {
                                    var _Images = item.ID_PostNavigation.Post_Image.ToList();
                                    var image = "";
                                    foreach (var i in _Images)
                                    {
                                        image = i.url;
                                        break;
                                    }
                                    <div class="post post-widget">

                                        <a asp-controller="Post" asp-route-id="@item.ID_PostNavigation.ID_Post" asp-action="PostDetail" class="post-img"><img src="@(Constants.POST_IMG_URL + image)" alt=""></a>
                                        <div class="post-body">
                                            <h3 class="post-title"><a asp-controller="Post" asp-route-id="@item.ID_PostNavigation.ID_Post" asp-action="PostDetail">@item.ID_PostNavigation.Tittle</a></h3>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="post post-widget">
                                    <div class="post-body">
                                        <p><i>Bạn chưa có bài đăng yêu thích!</i></p>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <div class="post post-widget">
                                <div class="post-body">
                                    <p><i>Hãy đăng nhập để sử dụng tính năng này!</i></p>
                                </div>
                            </div>
                        }
                    }

                    <!-- /favorite post-->
                    <!-- locaion -->
                    <div class="aside-widget text-center">
                        <div class="section-title">
                            <h2>Khu vực <i class="fa fa-map-pin"></i></h2>
                            <p>Tìm kiếm theo khu vực</p>
                        </div>
                        <div class="post post-thumb">
                            <a class="post-img" asp-area="" asp-controller="Post" asp-action="Search"><img src="~/images/anhthuy1202-180520020532-du-lich-phan-thiet-mui-ne.jpg" alt="img"></a>
                            <div class="post-body">
                                <h3 class="post-title"><a asp-area="" asp-controller="Post" asp-action="Search">Múi Né, Phan Thiết</a></h3>
                            </div>
                        </div>
                        <div class="post post-thumb">
                            <a class="post-img" asp-area="" asp-controller="Post" asp-action="Search"><img src="~/images/cover-tour-dalat2.jpg" alt="img"></a>
                            <div class="post-body">
                                <h3 class="post-title"><a asp-area="" asp-controller="Post" asp-action="Search">Đà Lạt</a></h3>
                            </div>
                        </div>
                        <div class="post post-thumb">
                            <a class="post-img" asp-area="" asp-controller="Post" asp-action="Search"><img src="~/images/image002_1.jpg" alt="img"></a>
                            <div class="post-body">
                                <h3 class="post-title"><a asp-area="" asp-controller="Post" asp-action="Search">Đà Nẵng</a></h3>
                            </div>
                        </div>
                    </div>
                    <!-- /locaion -->
                </div>
            </div>
        </div>
    </div>
</div>