@model BDS_ML.Models.ModelDB.Post

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_custom_admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tittle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tittle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_AccountNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_AccountNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTypeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTypeNavigation.ID_PostType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectNavigation.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealEstateTypeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealEstateTypeNavigation.ID_RealEstateType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_Post">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
