@using BDS_ML.Models.ModelDB
@using BDS_ML.Models.Common
@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<Post>
@{
    ViewData["Title"] = "Các Bài Đăng Về " + ViewBag.Title;
    BDT_MLDBContext db = new BDT_MLDBContext();
}

<div class="breadcrumb" style="margin-bottom: 0;">
    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home </a>
    <span><i class="fa fa-angle-right"></i> @ViewBag.Title</span>
</div>

<div class="section">
    <div class="container">
        <div class="text-center">
            <h2 class="display-4">@ViewData["Title"]</h2>
            <p>Tìm thấy: @ViewData["Count"] kết quả!</p>
        </div>
        <input name="id" class="form-control"
               value="@Model.RouteValue["id"]" type="hidden" />
        <nav aria-label="Suppliers navigation example">
            @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
        </nav>

        @{if (Model.Count() == 0)
            {

            }
            else
            {
                <div class="row">
                    @foreach (var post in Model)
                    {
                        var _Images = post.Post_Image.ToList();
                        var image = "";
                        foreach (var i in _Images)
                        {
                            image = i.url;
                            break;
                        }
                        var author = "";
                        if (db.Customer.FirstOrDefault(c => c.Account_ID == post.ID_Account) == null)
                        {
                            author = db.Admin.First(c => c.Account_ID == post.ID_Account).FullName;
                        }
                        else
                        {
                            author = db.Customer.First(c => c.Account_ID == post.ID_Account).FirstName + ' ' + db.Customer.First(c => c.Account_ID == post.ID_Account).LastName;
                        }

                        <div class="col-lg-4 col-md-6">
                            <!-- hot post -->
                            <div class="feature-item">
                                <a asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">
                                    <div class="feature-pic set-bg" style="background-image:url(@(Constants.POST_IMG_URL + image))">
                                        @if (post.PostType == 1)
                                        {
                                            <div class="sale-notic">Cần bán</div>
                                        }
                                        @if (post.PostType == 2)
                                        {
                                            <div class="sale-notic">Cần Cho Thuê</div>
                                        }
                                        @if (post.PostType == 3)
                                        {
                                            <div class="rent-notic">Cần Mua</div>
                                        }
                                        @if (post.PostType == 4)
                                        {
                                            <div class="rent-notic">Cần Thuê</div>
                                        }
                                    </div>
                                </a>
                                <div class="feature-text">
                                    <div class="text-center feature-title">
                                        <h5>@post.Tittle</h5>
                                        <p><i class="fa fa-map-marker"></i> @post.Post_Location.SingleOrDefault().Quan_HuyenNavigation._name, @post.Post_Location.SingleOrDefault().Tinh_TPNavigation._name</p>
                                    </div>
                                    <div class="room-info-warp">
                                        <div class="room-info">
                                            <div class="rf-left">
                                                <p><i class="fa fa-th-large"></i>@string.Format("{0:0.## m²}", post.Size)</p>
                                                <p><i class="fa fa-building-o"></i>@post.Post_Detail.SingleOrDefault().Floor lầu</p>
                                                <p><i class="fa fa-bed"></i>@post.Post_Detail.SingleOrDefault().Bedroom phòng ngủ</p>
                                                <p><i class="fa fa-bath"></i>@post.Post_Detail.SingleOrDefault().Bathroom phòng tắm</p>
                                            </div>
                                            <div class="rf-right">
                                                @if (post.Post_Detail.SingleOrDefault().NearHospital == true)
                                                {
                                                    <p><i class="fa fa-hospital-o"></i>gần Bệnh Viện</p>
                                                }
                                                else
                                                {
                                                    <p class="notavailable"><i class="fa fa-hospital-o"></i>gần Bệnh Viện</p>
                                                }

                                                @if (post.Post_Detail.SingleOrDefault().NearMarket == true)
                                                {
                                                    <p><i class="fa fa-shopping-cart"></i>gần Chợ</p>
                                                }
                                                else
                                                {
                                                    <p class="notavailable"><i class="fa fa-shopping-cart"></i>gần Chợ</p>
                                                }

                                                @if (post.Post_Detail.SingleOrDefault().NearSchool == true)
                                                {
                                                    <p><i class="fa fa-graduation-cap"></i>gần Trường Học</p>

                                                }
                                                else
                                                {
                                                    <p class="notavailable"><i class="fa fa-graduation-cap"></i>gần Trường Học</p>
                                                }

                                                @if (post.Post_Detail.SingleOrDefault().NearAirport == true)
                                                {
                                                    <p><i class="fa fa-plane"></i>gần Sân Bay</p>

                                                }
                                                else
                                                {
                                                    <p class="notavailable"><i class="fa fa-plane"></i>gần Sân Bay</p>
                                                }
                                            </div>
                                        </div>
                                        <div class="room-info">
                                            <div class="rf-left">
                                                <p><i class="fa fa-user"></i>@author</p>
                                            </div>
                                            <div class="rf-right">
                                                <p><i class="fa fa-clock-o"></i>@Functions.getTime(post.PostTime)</p>
                                            </div>
                                        </div>
                                    </div>
                                    @if (post.PostType == 1)
                                    {
                                        if (post.Price >= 1000)
                                        {
                                            <a class="room-price" asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Tỷ VND}", post.Price / 1000)</a>
                                        }
                                        else
                                        {
                                            <a class="room-price" asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Triệu VND}", post.Price)</a>
                                        }
                                    }
                                    else
                                    {
                                        if (post.Price >= 1000)
                                        {
                                            <a class="room-price" asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Tỷ VND}", post.Price / 1000) / tháng</a>
                                        }
                                        else
                                        {
                                            <a class="room-price" asp-controller="Post" asp-route-id="@post.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Triệu VND}", post.Price) / tháng</a>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }
        <nav aria-label="Products navigation example">
            <vc:pager paging-list="@Model" paging-listc="1" />
        </nav>

    </div>
</div>