@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@using BDS_ML.Models.ModelDB
@using BDS_ML.Models.Common
@model BDS_ML.Models.ModelDB.Post
@{
    ViewData["Title"] = "Chi tiết | Bất động sản REAL HOUSE";
    BDT_MLDBContext db = new BDT_MLDBContext();
}
<style>

    .modal-dialog {
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }

    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: 0;
    }

    hr.style1 {
        border-top: 1px solid #8c8b8b;
    }

    .row > .column {
        padding: 0 8px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Create four equal columns that floats next to eachother */
    .column {
        float: left;
        width: 25%;
    }

    /* The Modal (background) */
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #0000004a;
        z-index: 1050;
        display: none;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;
    }
    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 52%;
        max-width: 1200px;
    }

    /* The Close Button */
    .close {
        /*color: white;*/
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }

    /* Hide the slides by default */
    .mySlides {
        display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .numbertextdelete {
        color: #f2f2f2;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 35px;
        font-weight: bold;
    }

        .numbertextdelete:hover,
        .numbertextdelete:focus {
            color: wheat;
            text-decoration: none;
            cursor: pointer;
        }

    /* Caption text */
    .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }

    img.demo {
        opacity: 0.6;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }

    img.hover-shadow {
        transition: 0.3s;
    }

    .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
@{
    var _Images = Model.Post_Image.ToList();
    var picture = "";
    foreach (var i in _Images)
    {
        picture = i.url;
        break;
    }
}

<div class="breadcrumb" style="margin-bottom: 0;">
    <!-- Breadcrumb -->
    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home </a>
    <span><i class="fa fa-angle-right"></i> <i class="fa fa-sticky-note"></i>Chi Tiết Bài Đăng: @Model.Tittle</span>
</div>
<!-- info header-->
<div id="post-header" class="page-header">

    <div class="background-img" style="background-image: url('@(Constants.POST_IMG_URL + picture)');"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="post-meta">
                    @if (Model.PostType == 1)
                    {
                        <a class="post-category cat-2" href="#">Cần Bán</a>
                    }
                    @if (Model.PostType == 2)
                    {
                        <a class="post-category cat-2" href="#">Cần Cho Thuê</a>
                    }
                    @if (Model.PostType == 3)
                    {
                        <a class="post-category cat-1" href="#">Cần Mua</a>
                    }
                    @if (Model.PostType == 4)
                    {
                        <a class="post-category cat-1" href="#">Cần Thuê</a>
                    }
                    <span class="post-date">@Model.PostTime</span>
                </div>
                <h1>@Model.Tittle</h1>
            </div>
        </div>
    </div>
</div>

<!-- info body-->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- Page -->
            <div class="col-md-8">
                @{ List<Post_Image> lstImage = db.Post_Image.Where(n => n.ID_Post == Model.ID_Post).ToList();}
                @{
                    var author = "";
                    var typeuser = "";
                    if (db.Customer.FirstOrDefault(c => c.Account_ID == Model.ID_Account) == null)
                    {
                        author = db.Admin.First(c => c.Account_ID == Model.ID_Account).FullName;
                        typeuser = "Admin";
                    }
                    else
                    {
                        author = db.Customer.First(c => c.Account_ID == Model.ID_Account).FirstName + ' ' + db.Customer.First(c => c.Account_ID == Model.ID_Account).LastName;
                        typeuser = "User";
                    }
                }
                <div class="section">
                    <div class="row">
                        <div class="col-md-6">
                            @{ var street = "";
                                if (Model.Post_Location.SingleOrDefault().Duong_PhoNavigation != null)
                                {
                                    street = Model.Post_Location.SingleOrDefault().Duong_PhoNavigation._name;
                                }
                                else
                                {
                                    street = "";
                                }}
                            <h3>@Model.Post_Location.SingleOrDefault().DiaChi, Đường: @street, @Model.Post_Location.SingleOrDefault().Phuong_XaNavigation._name</h3>
                            <p><i class="fa fa-map-marker"></i> @Model.Post_Location.SingleOrDefault().Quan_HuyenNavigation._name, @Model.Post_Location.SingleOrDefault().Tinh_TPNavigation._name</p>
                        </div>
                        <div class="col-md-3 feature-item">
                            <a href="#" class="room-price1" onclick="addfavorite(@Model.ID_Post)">Thích</a>
                        </div>
                        <div class="col-md-3 feature-item">
                            @if (Model.PostType == 1)
                            {
                                if (Model.Price >= 1000)
                                {
                                    <a class="room-price" asp-controller="Post" asp-route-id="@Model.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Tỷ VND}", Model.Price / 1000)</a>
                                }
                                else
                                {
                                    <a class="room-price" asp-controller="Post" asp-route-id="@Model.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Triệu VND}", Model.Price)</a>
                                }
                            }
                            else
                            {
                                if (Model.Price >= 1000)
                                {
                                    <a class="room-price" asp-controller="Post" asp-route-id="@Model.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Tỷ VND}", Model.Price / 1000) / tháng</a>
                                }
                                else
                                {
                                    <a class="room-price" asp-controller="Post" asp-route-id="@Model.ID_Post" asp-action="PostDetail">@string.Format("{0:0.#### Triệu VND}", Model.Price) / tháng</a>
                                }

                            }
                        </div>
                    </div>
                    @if (Model.Post_Detail != null)
                    {
                        <h3 class="sl-sp-title">Thông tin chi tiết</h3>
                        <div class="row property-details-list">
                            <div class="col-md-4 col-sm-6">
                                <p><i class="fa fa-car"></i> @(db.Post_Detail.First(c => c.ID_Post == Model.ID_Post).Alley == true ? "Trong hẻm" : "Mặt đường lớn")</p>
                                <p><i class="fa fa-trophy"></i> @(Model.PostType == 1 ? "Nhà bán" : "Nhà cho thuê")</p>
                                <p><i class="fa fa-user"></i> @author</p>
                                <p><i class="fa fa-clock-o"></i> @Functions.getTime(Model.PostTime)</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <p><i class="fa fa-th-large"></i> @Model.Size m²</p>
                                <p><i class="fa fa-bed"></i> @Model.Post_Detail.SingleOrDefault().Bedroom phòng ngủ</p>
                                <p><i class="fa fa-bath"></i> @db.Post_Detail.First(c => c.ID_Post == Model.ID_Post).Bathroom phòng tắm</p>
                                <p><i class="fa fa-building-o"></i> @db.Post_Detail.First(c => c.ID_Post == Model.ID_Post).Floor lầu</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                @if (Model.Post_Detail.SingleOrDefault().NearHospital == true)
                                {
                                    <p><i class="fa fa-hospital-o"></i> gần Bệnh Viện</p>
                                }
                                else
                                {
                                    <p class="notavailable"><i class="fa fa-hospital-o"></i> gần Bệnh Viện</p>
                                }

                                @if (Model.Post_Detail.SingleOrDefault().NearMarket == true)
                                {
                                    <p><i class="fa fa-shopping-cart"></i> gần Chợ</p>
                                }
                                else
                                {
                                    <p class="notavailable"><i class="fa fa-shopping-cart"></i> gần Chợ</p>
                                }

                                @if (Model.Post_Detail.SingleOrDefault().NearSchool == true)
                                {
                                    <p><i class="fa fa-graduation-cap"></i> gần Trường Học</p>

                                }
                                else
                                {
                                    <p class="notavailable"><i class="fa fa-graduation-cap"></i> gần Trường Học</p>
                                }

                                @if (Model.Post_Detail.SingleOrDefault().NearAirport == true)
                                {
                                    <p><i class="fa fa-plane"></i> gần Sân Bay</p>

                                }
                                else
                                {
                                    <p class="notavailable"><i class="fa fa-plane"></i> gần Sân Bay</p>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <h3 class="sl-sp-title">Thông tin chi tiết</h3>
                        <div class="row property-details-list">
                            <div class="col-md-6 col-sm-6">
                                <p><i class="fa fa-building-o"></i> @db.RealEstate_Type.First(n => n.ID_RealEstateType == Model.RealEstateType).Description</p>
                                <p><i class="fa fa-user"></i> @author</p>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <p><i class="fa fa-th-large"></i>@Model.Size;</p>
                                <p><i class="fa fa-clock-o"></i> @Functions.getTime(Model.PostTime)</p>
                            </div>
                        </div>
                    }
                    <h3 class="sl-sp-title">Mô tả</h3>
                    <div class="description">
                        <p>@Model.Description</p>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <h3>Ảnh về bất động sản</h3>
                        </div>
                        @if (Model.Post_Image.ToList().Count > 0)
                        {
                            <div class="row">
                                @{
                                    var count = 0;

                                    @foreach (var item in Model.Post_Image.ToList())
                                    {
                                        var idImage = item.ID_Post + "image" + item.ID_Image;
                                        count++;

                                        <div class="column col" id="@idImage">

                                            <img src="@(Constants.POST_IMG_URL + @item.url)" onclick="openModal();currentSlide(@count)" class="hover-shadow" style="width: 200px;height: 150px;">

                                        </div>

                                    }
                                }
                            </div>
                        }
                        else
                        {
                            <span>Không có ảnh</span>
                        }
                        <br />
                    </div>
                    <div id="myModal" class="modal">


                        <div class="modal-content">
                            <span class="close cursor" onclick="closeModal()">Đóng</span>

                            @{
                                var count1 = 0;
                                @foreach (var item in Model.Post_Image.ToList())
                                {
                                    var idImage = item.ID_Post.ToString() + "image" + item.ID_Image.ToString();
                                    count1++;
                                    <div class="mySlides">
                                        <div class="numbertext">@count1/@Model.Post_Image.Count()</div>
                                        <img src="@(Constants.POST_IMG_URL + @item.url)" style="width:100%">
                                    </div>
                                }
                            }

                            <!-- Next/previous controls -->
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                            <div class="row">
                                <!-- Thumbnail image controls -->
                                @{
                                    var count2 = 0;
                                    @foreach (var item in Model.Post_Image.ToList())
                                    {
                                        count2++;
                                        <div class="column">
                                            <img class="demo" src="@(Constants.POST_IMG_URL + @item.url)" onclick="currentSlide(@count2)" alt="@item.url" style="width: 200px;height: 150px;">
                                        </div>

                                    }
                                }
                            </div>
                        </div>
                    </div>

                    @*<h3 class="sl-sp-title bd-no">Location</h3>
                        <div id="map"></div>*@
                </div>
            </div>

            @*sidebar*@
            <div class="col-md-4">
                <!-- contact-->
                <div class="author-card">
                    <div class="author-img set-bg" style="background-image: url('@(Constants.AVATAR_URL+ViewBag.image)')"></div>
                    <div class="author-info">
                        <h5>@author</h5>
                        <p>@typeuser</p>
                    </div>
                    <div class="author-contact">
                        <p><i class="fa fa-phone"></i> @(String.Format("{0:0### ### ###}", Model.ID_AccountNavigation.PhoneNumber))</p>
                        <p><i class="fa fa-envelope"></i>@Model.ID_AccountNavigation.Email</p>


                        @{






                            if (SignInManager.IsSignedIn(User))
                            {
                                if (!User.IsInRole("Admin"))
                                {
                                    string reportq = "modal";
                                <button type="button" class="btn btn-custon-rounded-three btn-warning btn-xs" data-toggle="modal" data-target="#@reportq">Báo cáo bài viết</button>
                                    string reasonReportPost = "re" + Model.ID_Post.ToString();
                                <!-- Modal -->

                                <div class="modal fade" id="@reportq" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="center">
                                        <div class="modal-dialog modal-dialog-center" role="document">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Báo cáo bài đăng</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row form-group">
                                                        <div class="col col-md-4">@Html.Label("Mã bài đăng")</div>
                                                        <div class="col-12 col-md-8">
                                                            <input type="text" name="idpost" class="input-md form-control" value="@Model.ID_Post" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-4">@Html.Label("Lí do báo cáo")</div>
                                                        <div class="col-12 col-md-8">
                                                            <input type="text" name="reasonBlockPost" class="input-md form-control" id="@reasonReportPost" placeholder="Lí do báo cáo">
                                                            @* @Html.TextBox("reasonBlockCus", null, htmlAttributes: new { @name = "reasonBlockCus", @class = "form-control", @placeholder = "Lí do khóa", required = "required" })*@
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-12">
                                                            <strong> <a>Bạn muốn báo bài đăng này?</a></strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success" onclick="reportPost('@Model.ID_Post','@reasonReportPost')">Đồng ý</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            }
                            @*else
                            {
                                <div class="modal fade" id="@reportq" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="center">
                                        <div class="modal-dialog modal-dialog-center" role="document">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Bạn chưa đăng nhập</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="row form-group">
                                                        <div class="col col-md-12">
                                                            <strong> <a>Bạn phải đăng nhập để báo cáo bài đăng này?</a></strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("PostDetail", "Post", new { area = "" ,@id=Model.ID_Post  })">Đăng nhập</a>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }*@

                        }

                    </div>
                </div>





                @{
                    if (!SignInManager.IsSignedIn(User))
                    {
                        <!-- ad -->
                        <div class="aside-widget text-center">
                            <a href="#" style="display: inline-block;margin: auto;">
                                <img class="img-responsive" src="~/webmag/img/sample.jpg" alt="sample">
                            </a>
                        </div>
                        <!-- /ad -->

                        <!-- catagories -->
                        <div class="aside-widget">
                            <div class="section-title">
                                <h2 class="text-center">Danh Mục</h2>
                            </div>
                            <div class="category-widget">
                                <ul>
                                    <li><a class="cat-1" asp-action="SearchByType" asp-controller="Post" asp-route-id="2">Cần Mua<span>@ViewData["canmua"]</span></a></li>
                                    <li><a class="cat-2" asp-action="SearchByType" asp-controller="Post" asp-route-id="0">Cần Bán<span>@ViewData["canban"]</span></a></li>
                                    <li><a class="cat-1" asp-action="SearchByType" asp-controller="Post" asp-route-id="3">Cần Thuê<span>@ViewData["canthue"]</span></a></li>
                                    <li><a class="cat-2" asp-action="SearchByType" asp-controller="Post" asp-route-id="1">Cần Cho Thuê<span>@ViewData["canchothue"]</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /catagories -->
                    }
                    else
                    {
                        <!-- ad -->
                        <div class="aside-widget text-center">
                            <a href="#" style="display: inline-block;margin: auto;">
                                <img class="img-responsive" src="~/webmag/img/sample.jpg" alt="sample">
                            </a>
                        </div>
                        <!-- /ad -->

                        <!-- favorite post-->
                        <div class="aside-widget">
                            <div class="section-title text-right">
                                <h2>Bài viết Yêu Thích <i class="fa fa-heart-o"></i></h2>
                                <p>Bài viết được bạn yêu thích</p>
                            </div>

                            @{
                                if (SignInManager.IsSignedIn(User))
                                {
                                    if (ViewData["favoritepost"] != null && (ViewData["favoritepost"] as IEnumerable<Post_Favorite>).Count() != 0)
                                    {
                                        foreach (var item in ViewData["favoritepost"] as IEnumerable<Post_Favorite>)
                                        {
                                            var _ImagespostFavorate = item.ID_PostNavigation.Post_Image.ToList();
                                            var image = "";
                                            foreach (var i in _ImagespostFavorate)
                                            {
                                                image = i.url;
                                                break;
                                            }
                                            <div class="post post-widget">

                                                <a asp-controller="Post" asp-route-id="@item.ID_PostNavigation.ID_Post" asp-action="PostDetail" class="post-img"><img src="@(Constants.POST_IMG_URL + image)" alt=""></a>
                                                <div class="post-body">
                                                    <h3 class="post-title"><a asp-controller="Post" asp-route-id="@item.ID_PostNavigation.ID_Post" asp-action="PostDetail">@item.ID_PostNavigation.Tittle</a></h3>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="post post-widget">
                                            <div class="post-body">
                                                <p><i>Bạn chưa có bài đăng yêu thích!</i></p>
                                            </div>
                                        </div>
                                    }

                                }
                                else
                                {
                                    <div class="post post-widget">
                                        <div class="post-body">
                                            <p><i>Hãy đăng nhập để sử dụng tính năng này!</i></p>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <!-- /favorite post-->
                    }
                }

            </div>
        </div>

    </div>

</section>
<!-- Page end -->

<script>
    // Open the Modal
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }



    // Close the Modal
    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }

    function addfavorite() {

        var idp = arguments[0];
            $.ajax({
                url: '@Url.Action("AddFavorite","Post")',
                type: 'POST',
                data: { idpost:idp}
            }).done(function (data) {
                if (data.result == "OK") {
                    alert(data.message);
                }
                else if (data.message) {
                    alert(data.message);
                }
            }).fail(function () {
                alert("Bạn cần đăng nhập để thực hiện tính năng này.");
            })


    }
    function reportPost() {

        var idp = arguments[0];
        var Reason = document.getElementById(arguments[1]).value;
        if (Reason === "") {
            alert("Lí do báo cáo bài đăng phải được điền.");
            return;
        }
        else {
            $.ajax({
                url: '@Url.Action("AddReportPost", "Post")',
                type: 'POST',
                data: { idpost: idp, reason: Reason }
            }).done(function (data) {
                if (data.result == "OK") {
                    alert(data.message);

                }
                else if (data.message) {
                    alert(data.message);
                }
              
                $('.modal - dialog modal - dialog - center').remove();
                $('.modal - backdrop fade show').remove();
                $('#modal').modal('hide');
            }).fail(function () {
                alert("Bạn cần đăng nhập để thực hiện tính năng này.");
            })
        }

    }
</script>