@model IEnumerable<BDS_ML.Models.ModelDB.Post_Favorite>

@{
    ViewData["Title"] = "Bài đăng đã thích";
    //Layout = "~/Views/Shared/_Layout_custom_admin.cshtml";
}
@{
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_Layout_custom_admin.cshtml";
    }

    else
    {
        Layout = "~/Views/Shared/_Layout_custom_customer.cshtml";
    }
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Bài đăng</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li>Bài đăng</li>
                    <li><a asp-action="Index" class="text-right">Danh sách bài đăng của bạn</a></li>
                    <li class="active">Danh sách bài đã ẩn của bạn</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Shared/_StatusMessage.cshtml" for="@TempData["StatusMessage"]" />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Danh sách bài đăng đã thích</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="exam" class="table table-striped table-condensed table-hover table-bordered">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayName("Tiêu đề")
                                </th>
                                <th>
                                    @Html.DisplayName("Loại bài")
                                </th>
                                <th>
                                    @Html.DisplayName("Loại bất động sản")
                                </th>
                                <th>
                                    @Html.DisplayName("Giá")
                                </th>
                                <th>
                                    @Html.DisplayName("Ngày thích")
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="@item.ID_Post">

                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID_PostNavigation.Tittle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID_PostNavigation.PostTypeNavigation.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID_PostNavigation.RealEstateTypeNavigation.Description)
                                    </td>
                                    <td>
                                        @if (item.ID_PostNavigation.Price >= 1000)
                                        {
                                            @Html.Raw((Math.Round(item.ID_PostNavigation.Price / 1000, 2)) + " tỉ")
                                        }
                                        else
                                        {
                                            @Html.Raw(item.ID_PostNavigation.Price + " triệu")
                                        }

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MortifiedDate)
                                    </td>
                                    <td>
                                        @* @Html.ActionLink("Chi tiết", "PostDetail", "Post", new { @id = item.ID_Post, area = "", @class = "btn btn-secondary" })*@
                                        <a class="btn btn-info" asp-area="" asp-controller="Post" asp-action="PostDetail" asp-route-id="@item.ID_Post" title="Xem chi tiết">Chi tiết</a>
                                        <a class="btn btn-danger" id="removefavorite" title="Bỏ yêu thích" onclick="removefavorite(@item.ID_Post)">Bỏ yêu thích</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        $('#exam').DataTable({
            "language": {
                "lengthMenu": "Hiển thi _MENU_ kết quả trên 1 trang",
                "zeroRecords": "Không tìm thấy dữ liệu",
                "info": "Trang _PAGE_ của _PAGES_",
                "infoEmpty": "Không tìm thấy dữ liệu",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "paginate": {
                    "first": "Trang đầu",
                    "last": "Trang cuối",
                    "next": "Tiếp tục",
                    "previous": "Trở về"
                },
                "search": "Tìm kiếm:",
                "loadingRecords": "Đang tải...",
                "processing": "Đang xử lí..."
            },
            "lengthMenu": [[10, 25, 50, - 1], [10, 25, 50, "Tất cả"]]

        });
    });
    function removefavorite() {

        var idp = arguments[0];
            $.ajax({
                url: '@Url.Action("RemoveFavorite", "Post")',
                type: 'POST',
                data: { id:idp}
            }).done(function (data) {
                if (data.result == "OK") {
                    alert(data.message);
                    document.getElementById(data.id).remove();
                }
                else if (data.message) {
                    alert(data.message);
                }
            }).fail(function () {
                alert("Đã có lỗi. Hãy thử lại.");
            })


    }
</script>
